<hr>
<i><b>
    Ci-dessous un courrier type &agrave; envoyer au conseil constitutionnel (destinataires du mail pre-remplis).<br />
    Pour que votre r&eacute;clamation soit valide, il faut y joindre une copie de votre carte d'&eacute;lecteur (demande du conseil constitutionnel) et ajouter votre nom en bas de lettre.<br />
    N'h&eacute;sitez pas &agrave; personnaliser le courrier pour d&eacute;crire votre situation personnelle!<br />
  </b></i>
  <hr />
  <br />

  Monsieur le Président, <br /><br /><br />
  En application de l’article 45-4 de l’ordonnance n° 58-1067 du 7 novembre 1958 , j’ai l’honneur de vous saisir des <em>« réclamations »</em> suivantes. <br /><br />

  Par décision n° 2019/1/RIP en date du 9 mai 2019, le Conseil constitutionnel a autorisé le recours à la procédure du référendum d’initiative partagée (ci-après « RIP »)
  dans le cadre de la privatisation à marche forcée d’AEROPORTS DE PARIS (ci-après « ADP »). <br /><br />

  Comme le note le sénateur SUEUR dans son <a href="https://www.senat.fr/rap/l12-373/l12-3731.html">rapport</a> <em>«&nbsp;La modification de l’article 11 de la Constitution, par la révision du 
    23 juillet 2008, est l’aboutissement d’une réflexion visant à </em><strong><em>associer plus étroitement le citoyen à l’élaboration de la loi</em></strong><em>&nbsp;»</em>. <br /><br />

  Cette réflexion prend sa source dans les travaux de la Commission VEDEL (1993) qui précisait ses recommandations de réforme dans les termes suivants <br /> <br />

  <div style="margin-left:106.2pt;">
    <em>Un <strong>citoyen plus présent </strong>est l'achèvement en guise de conclusion. Le citoyen veut vivre dans un État de droit. Trois termes résument cette exigence :
      la reconnaissance des droits et des libertés, la protection qui leur est nécessaire, <strong>la participation directe à la formation et à l'expression de la volonté générale.</strong></em>
  </div> <br /> <br />

  C’est dire l’importance du RIP qui permet à des citoyens de pouvoir s’exprimer sur des sujets engageant les biens communs, fruits du travail patient et obstiné d’un peuple libre,
  résistant aux menaces et aux pressions de toutes les <em>« féodalités économiques »</em>. <br /><br />
  Faisant preuve d’un courage politique certain et d’une sagacité juridique exemplaire, le Conseil constitutionnel a validé la proposition de loi visant à affirmer le caractère de
  <em>service public national </em>de l'exploitation des aérodromes de Paris. <br /><br />

  Contraint et forcé, le gouvernement a dû accepter de respecter la procédure du RIP : à cet effet, il a mis en place un site internet pour récolter les signatures de citoyens au soutien de cette initiative. <br /><br />
  Cependant, force est de constater que de nombreuses <strong>entraves au recueil des signatures</strong> de soutien au RIP ont été <strong>mises en place volontairement par le gouvernement</strong>.
  Il est ainsi établi que <em>le principe de respect du pluralisme n’a pas été respecté</em> (<strong>I</strong>). <br /><br />
  Devant un tel manque de loyauté de la part d’un gouvernement qui affiche son absence de respect pour les partis d’opposition et un mépris préoccupant des citoyens, ce qui constitue une
  <em>atteinte inacceptable au principe démocratique fondant notre République</em>, il est demandé au Conseil de prendre des mesures correctives propres à assurer un débat démocratique et le recueil de
  l’expression du Souverain (<strong>III</strong>). <br /><br />

  Afin de lever toute hypothèque juridique, il sera démontré qu’il entre dans les prérogatives du Conseil de rendre effectif les <em>objectifs à valeur constitutionnelle </em>qu’il a lui-même
  reconnus (<strong>II</strong>). <br /><br />

  <h3>I. Comportement déloyal de l’Exécutif</h3>

  Dans son communiqué du 1<sup>er</sup> juillet 2019, le Conseil constitutionnel a répondu aux critiques émanant de nombreux citoyens relatives au site internet mis en place et géré par le Ministère de l’Intérieur.
  <br /><br />

  Par ailleurs et dans le même communiqué, le Conseil s’est borné à constater que  <br /> <br />
  <div style="margin-left:106.2pt;">
    <em>La loi n’a pas prévu de mettre à disposition le service public de la communication audiovisuelle pendant la période de recueil des soutiens. <br /><br />
      Dans le silence des textes, il revient donc aux sociétés de l’audiovisuel public de définir elles-mêmes, dans le respect de la loi du 30 septembre 1986 relative à la liberté de communication et sous le
      contrôle du Conseil supérieur de l’audiovisuel, les modalités d’information des citoyens sur le recueil des soutiens à toute initiative référendaire.</em>
  </div>  <br />

  Pourtant, une étude, établie par M. Lucas Gautheron pour LE MEDIA, publiée le 3 août 2019 et reprise par le journaliste spécialisé des médias,
  <a href="https://www.arretsurimages.net/chroniques">M. Daniel SCHNEIDERMANN</a>, démontre  comment <em>« Télés et journaux sabordent le referendum ADP »&nbsp;:</em> <br /> <br />

  <div style="margin-left:106.2pt;">
    <strong>Comparée au marathon macronien du "'Grand Débat", surmédiatisé pendant des semaines, la pétition pour un référendum sur la privatisation d'Aéroports de Paris (ADP),
      à l'initiative de l'opposition, reste <u>invisible.</u>
      C'est ce qu'explique Le Média dans une vidéo publiée le 1er août.</strong> <br /><br />
    Si vous ne suivez pas l'actualité avec la plus grande attention, vous avez très bien pu passer à côté de la pétition pour un référendum sur la privatisation d'Aéroports de Paris. <br />
    <br clear="all" />  C'est à cette conclusion qu'est arrivé Le Média, et son journaliste Lucas Gautheron, dans
    <a class="liens" href="https://twitter.com/LeMediaTV/status/1156952729086021633" target="_blank">une vidéo</a>  publiée le 1er août.&nbsp; <br /><br />
    Le journaliste explique s'être penché sur le profil des signataires de cette pétition, dont le lancement le 13 juin dernier a été émaillé de nombreux problèmes,&nbsp;
    <a class="liens" href="https://www.arretsurimages.net/articles/le-pietre-referencement-sur-google-du-site-sur-le-referendum-adp" target="_blank">du piètre référencement</a>  du site à
    <a class="liens" href="https://www.arretsurimages.net/articles/soutien-au-referendum-adp-les-internautes-a-la-peine" target="_blank">l'impossibilité pour certains</a>  de signer la pétition.
  </div>  <br />

  <div style="margin-left:106.2pt;">
    La liste de signataires (un peu moins de 590 000
    <a class="liens" href="https://www.liberation.fr/checknews/2019/08/01/referendum-adp-589-000-soutiens-le-compteur-toujours-en-retard_1743184" target="_blank">d'après le compteur </a>  de Checknews)
    permet de répartir les signatures par communes. D'après ses recherches, les communes ayant le plus voté France Insoumise pendant la présidentielle de 2017 ont réuni le plus de signataires. <br /><br />
    A contrario, celles concentrant un fort vote Rassemblement National en 2017 sont celles où il y en a le moins. Gautheron établit également un parallèle entre le pourcentage de la population engagée
    dans des études supérieures et le pourcentage de signataires : plus la population d'une commune est diplômée, plus il y a de signataires. Il en conclut que "pour être au courant,
    il faut être très impliqué politiquement, très informé, et ce sont des biais qui favorisent les personnes les plus diplômées". <br /><br />
    <strong>13 000 articles sur le Grand Débat, 500 sur ADP</strong> <br /><br />
    Pour illustrer ce "<u>défaut d'information</u>", Le Média a décidé de comparer la médiatisation de la pétition avec celle du Grand Débat, en analysant les occurrences des deux événements dans les 30 jours
    suivant leur démarrage respectif. Le site a quantifié le nombre d'articles publiés dans la presse écrite et le nombre de sujets du 20 heures de France 2.
    Le résultat est édifiant (voir extrait vidéo).&nbsp; <br /><br />
    Nous avons de notre côté examiné les 20 heures de TF1 et France 2 les sept premiers jours du Grand Débat. Du 15 janvier au 21 janvier, France 2 y a consacré de un à quatre sujets par soir (à l'exception du 19).
    Sur TF1, le 20 heures a consacré pas moins de six sujets à l'ouverture du Grand Débat le 15 janvier, puis un à deux sujets par soir, à l'exception du 21 janvier. Une part non négligeable de ces sujets se
    concentrait sur les "performances" d'Emmanuel Macron (ses "débats-marathons"), comme le montre notre montage ci-dessous. <br /><br />
    <strong>Un temps d'antenne qui paraît d'autant plus <u>disproportionné</u> lorsqu'on le compare à la médiatisation de la pétition pour un référendum.</strong> Au 20 heures de France 2, le sujet n'a été évoqué
    qu'une fois la première semaine, le 18 juin, pour évoquer les différents bugs qui ont émaillé les premiers jours de la plateforme. Nous n'avons pas retrouvé trace d'un sujet dédié à la pétition au JT de TF1.
    <br /> <br />

    "On peut exiger de France 2 qu'ils se mettent au service d'un intérêt général" <br /><br />
    Pas de doute, pour Lucas Gautheron, l'information autour de la pétition, une première depuis l'instauration du RIP (référendum d'initiative populaire), "a été sabordé[e] de bout en bout par les médias". <br /><br />
    Auprès d'Arrêt sur images, le journaliste explique avoir eu l'idée de comparer la médiatisation du Grand Débat et de la pétition après avoir entendu des parlementaires faire
    ce rapprochement.&nbsp; <u>"Les deux sont un mode original d'activité démocratique.</u> <br /><br />

    C'était la première fois que ça arrivait, dans un cas comme dans l'autre, et ça pouvait susciter de la curiosité de la part des médias", explique-t-il. Notamment de la part de France 2, insiste le
    journaliste. "France 2 a une mission de service public. On peut exiger d'eux qu'ils se mettent au service d'un intérêt général." <br /><br />

    Pour établir son corpus, un peu plus de 150 médias, "dont Le Monde, Les Échos, La Croix, Le Figaro, Ouest France, Sud Ouest, L'Express, Le Point", précise-t-il, Gautheron s'est appuyé sur le site
    Europresse, un agrégateur de médias (dont les médias français) accessible sur abonnement. Europresse recense les éditions papiers et web d'une très large partie des médias nationaux et régionaux français,
    quotidiens et hebdomadaires - à noter que Mediapart, pureplayer, ne fait pas partie de la base de données. <br /><br />

    Dans le cas de la pétition pour le référendum, Gautheron a effectué une recherche avec le mot-clé "Aéroport de Paris". Le journaliste soupçonne que certains articles contenus dans les résultats n'évoquent
    pas la pétition. La proportion d'articles dédiés au sujet... pourrait donc être plus basse encore. Logiquement, le compteur des signataires continue de stagner, alors que la pétition doit atteindre 4,7 millions
    de signatures d'ici mars 2020 pour déclencher le référendum.&nbsp;
  </div><br />

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cette comparaison permet de mettre en évidence une disparité de traitement : <br />


  <ul>
    <li class="list">Un débat, sans support constitutionnel ou législatif, est organisé par l’exécutif et submerge l’actualité pendant plusieurs semaines ; son coût est estimé à plus de 12 millions d’euros;</li>
    <li class="list">Un débat, qui s’enracine dans l’article 11 de la Constitution, se voit privé de tout espace d’expression libre et contradictoire.</li>
  </ul>  <br clear="all" />   <br />

  L’incrédulité devient inquiétude lorsque l’on constate que le gouvernement ne prévoit aucun investissement ou aucune information officielle permettant d’assurer la force du débat et la vivacité démocratique.
  <br /><br />

  Cette étude – mais elle n’est pas la seule – démontre l’impact négatif du silence organisé autour du RIP. <br /><br />

  Certains veulent voir une collusion d’intérêts entre l’exécutif, les propriétaires des médias nationaux et les grands intérêts privés, voire certains banquiers qui se vantent d’appeler le Président de la
  République <a href=" https://www.vanityfair.fr/pouvoir/business/story/article-mag-bernard-mourad-le-drole-dami-du-president/4528">« mon lapin »</a> (Vanity Fair, 22 novembre 2018)&nbsp;! <br /><br />

  Dès lors, les Requérants ne peuvent pas se satisfaire de la réponse « Ponce Pilate » du Conseil constitutionnel contenue dans le communiqué de presse du 1<sup>er</sup> juillet 2019.
  D’autant plus que le Conseil dispose des moyens pour rendre effectif les objectifs à valeur constitutionnelle. <br /><br />

  <h3>II. Le respect du pluralisme : un objectif à valeur constitutionnelle dont l’effectivité doit être reconnue et requise dans le cadre du RIP.</h3>

  Dans une analyse remarquable consacrée aux<em> « décisions créatrices du Conseil constitutionnel »</em><strong>[[1]]</strong>, le professeur Bertrand MATHIEU souligne que <br /> <br />
  <div style="margin-left:106.2pt;">
    <em>«&nbsp;<strong>le Conseil constitutionnel n'ajoute pas à la Constitution, mais il fait parler la Constitution. </strong> <br /><br />
      D'un texte ancien, sibyllin et doté d'une faible cohérence interne, il tire des principes et des normes qui régissent les questions d'aujourd'hui. <br /><br />
      Si l'on admet comme l'affirmait le Doyen Vedel qu'il n'y a pas de vide constitutionnel, le pouvoir créateur du juge constitutionnel consiste<strong> à donner un sens et une <u>portée concrète</u> à tout
	ce que proclame la Constitution.</strong> <br /><br />

      Cette tâche est d'autant plus difficile qu'elle doit éviter tant le piège du fondamentalisme que la tentation de l'invention ».</em>
  </div> <br />

  Or, tant en ce qui concerne la presse écrite que l’audiovisuel, il est acquis que <strong>le pluralisme constitue un objectif de valeur constitutionnelle [[2]]</strong>
  Ainsi, dans le considérant n° 11 de la décision n° 86-217 du 18 septembre 1986 le Conseil constitutionnel a rappelé que
  <div style="margin-left:106.2pt;"> <br />
    <em>le pluralisme des courants d'expression socioculturels est en lui-même un <strong>objectif de valeur constitutionnelle</strong> ; que <strong>le respect de ce pluralisme est une des conditions
	de la démocratie</strong> ; que la libre communication des pensées et des opinions, garantie par l'article 11 de la Déclaration des Droits de l'Homme et du Citoyen de 1789, <u>ne serait pas
	effective</u> si le public auquel s'adressent les moyens de communication audiovisuelle n'était pas à même de disposer, aussi bien dans le cadre du secteur public que dans celui du secteur privé, de
      programmes qui garantissent l'expression de tendances de caractères différents dans le respect de l'impératif d'honnêteté de l'information</em>
  </div>

  <br />
  <b>Il convient de remarquer et de se féliciter avec le professeur Pierre de MONTALIVET[[3]]&nbsp; que</b><br /><br />

  <div style="margin-left:106.2pt;">
    <em>le Conseil constitutionnel a, de manière heureuse, consacré quelques normes en matière audiovisuelle stables et certaines, qu'il s'agisse de la <u>liberté de communication audiovisuelle</u>
      ou du <strong>pluralisme, sa garantie objective.</strong></em>
  </div>   <br />

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le professeur de MONTALIVET ajoute encore que <br /> <br />
  <div style="margin-left:106.2pt;">
    <em><strong>2 -</strong> Le contenu de ce pluralisme est plus étendu en matière audiovisuelle qu'en matière de presse. Comme dans le domaine de la presse, le pluralisme est ici externe :
      les auditeurs et les téléspectateurs doivent pouvoir choisir entre des moyens d'informations audiovisuels à la fois différents et ayant des propriétaires différents <br /><br />
      <strong>Le pluralisme étant entendu comme le libre choix du récepteur de la communication, la liberté consiste non seulement en celle de s'exprimer mais aussi en le droit d'être informé. </strong>
      C'est finalement moins le point de vue de l'émetteur, grande entreprise de médias, que celui du récepteur, individu personne physique, qui est privilégié. <br /><br />

      Autre illustration de la spécificité du secteur audiovisuel au regard de la Constitution, le pluralisme est ici également interne. Les entreprises de communication, surtout celles du secteur public, doivent
      <strong><u>faire une place,</u> à la fois dans l'information et dans leurs programmes, à l'expression des différents courants de pensées et d'opinions, qu'ils soient politiques, syndicaux ou religieux</strong>.
      <br /><br />

      Enfin, le pluralisme affecte la <strong><u>répartition du temps de parole</u></strong> dans les médias audiovisuels, en imposant au Conseil supérieur de l'audiovisuel (CSA) de prendre en compte,
      dans l'appréciation de l'équilibre entre les courants d'opinion politiques, les interventions du Président de la République et de ses collaborateurs se rattachant au débat politique national,
      en fonction de leur contenu et de leur contexte.</em>
  </div>
  <br />

  On peut déduire de ce qui précède que si <em>«&nbsp;</em><em>La loi n’a pas prévu de mettre à disposition le service public de la communication audiovisuelle pendant la période de recueil des soutiens »</em>
  (Communiqué de presse du 1<sup>er</sup> juillet 2019), le « silence des textes » ne doit pas s’interpréter comme privant le Conseil constitutionnel de tout pouvoir créatif. <br /><br />

  En effet, il appartient au Conseil constitutionnel de donner une portée concrète à l’objectif à valeur constitutionnelle de respect du pluralisme, qui suppose, <em>a minima</em>, une <strong>répartition équitable
    du temps de parole consacré au RIP.</strong> <br /><br />



  C’est la raison pour laquelle, j’ai l’honneur de demander au Conseil constitutionnel de d’adopter les recommandations suivantes. <br /><br />

  <h3>III. Mesures de corrections</h3>

  Par la présente réclamation au sens de l’article 45-4 de l’ordonnance n° 58-1067 du 7 novembre 1958, les Requérants sollicitent que le Conseil constitutionnel adopte les recommandations suivantes :

  <h4>III.1    Avant le 31 décembre 2019,</h4>
  <ul>
    <li>
      Le Gouvernement devra adresser à toutes les électeurs inscrits sur les listes électorales une lettre les informant du RIP et leur expliquant comment ils peuvent apporter leur soutien par voie électronique et
      par dépôt de signatures dans un des lieux prévus à cet effet par la loi. Cette lettre d’information devra avoir été visée par le Conseil constitutionnel ;
    </li>
    <li>
      Toutes les collectivités locales (commune, département et région) consacrent au moins une pleine page d’informations sur l’existence du RIP et sur les modalités de recueil des signatures.
    </li>
    <li>
      Au moins une fois par semaine, il est recommandé que les journaux télévisés et radiophoniques ainsi que les sites internet des chaînes, de service public ou réservant plus de 15 % de leur temps d’antenne à
      l’information, consacrent un reportage, d’au moins 180 secondes, pour faire un point d’étape en précisant par un bandeau largement apparent l’adresse du site officiel https://www.referendum.interieur.gouv.fr/
    </li>
    <li>
      organiser au moins 3 débats télévisés et radiodiffusés, d’au moins 52 minutes opposants des citoyens favorables à la privatisation et d‘autres favorables à l’adoption du RIP.
    </li>
  </ul>


  <h4>III.2    Entre le 1er janvier et le 15 février 2020</h4>
  <ul>
    <li>
      organiser un quatrième débat télévisé d’au moins 52 minutes opposants des citoyens favorables à la privatisation et d‘autres favorables à l’adoption du RIP et informant sur l’avancée de la mobilisation.
    </li>
    <li>
      Vingt-un jours au moins avant la fin de la période de consultation, le Gouvernement devra adresser à tous les électeurs inscrits sur les listes électorales un courrier circonstancié rappelant de manière objective
      <ul>
	<li>les droits de chaque citoyen, courrier visé par le Conseil constitutionnel afin d’éviter tout biais de présentation,</li>
	<li>le nombre de signatures recueillies et validées par le Conseil,</li>
	<li>la date butoir et les modalités pratiques pour soutenir le RIP.</li>
      </ul>
    </li>
  </ul>


  <h3>Sources:</h3>

  <ul>
    <li>
      [[1]]: Cahier du Cons. const. Hors-série, 2009, Colloque du Cinquantenaire 3 novembre 2009
    </li>
    <li>
      [[2]]: Robert ETIEN , Le pluralisme : objectif de valeur constitutionnelle, La Revue administrative, 39e Année, No. 233 (Septembre-Octobre 1986), pp. 458-462
    </li>
    <li>
      [[3]]: Nouveaux Cahiers du Conseil constitutionnel n° 36, Dossier : La liberté d'expression et de communication - juin 2012
    </li>
  </ul>


  <br /><br />
  Je vous prie d’agréer, Monsieur le Président, l’expression de ma très haute considération.
